@model CDSC.Models.MedidasAntropometricasModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Salvar", "MedidasAntropometricas", FormMethod.Post))
{

    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
                <!-- OVERVIEW -->
                <div class="panel panel-headline">
                    <div class="panel-heading">
                        <h3 class="panel-title">Registro das Medidas Antropométricas</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <h3 class="panel-title">Idade:</h3>
                                @Html.DropDownListFor(model => model.idade, (SelectList)ViewBag.Idade, "Selecione...", new { @class = "form-control", @required = "required", })
                            </div>
                            <div class="col-md-3">
                                <h3 class="panel-title">Peso(g):</h3>
                                @Html.TextBoxFor(model => model.peso, new {  @required = "required", @class = "form-control", @type = "number", @maxlength = "10" })
                            </div>
                            <div class="col-md-3">
                                <h3 class="panel-title">Estatura(cm):</h3>
                                @Html.TextBoxFor(model => model.estatura, new { @required = "required", @class = "form-control", @type = "number", @maxlength = "10" })
                            </div>
                            <div class="col-md-3">
                                <h3 class="panel-title">Perímetro Cefálico(cm):</h3>
                                @Html.TextBoxFor(model => model.perimetroCefalico, new { @required = "required", @class = "form-control", @type = "number", @maxlength = "10" })
                            </div>


                        </div>
                        <div class="clearfix"></div>
                        <br />


                        <div class="row pull-right">
                            <div class="col-md-12">
                                @Html.ActionLink("Voltar", "Voltar", "MedidasAntropometricas", new { @class = "btn bt-padrao" })
                                <button type="submit" class="btn btn-success">Salvar</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="row">
                            <div class="col-md-12">
                                <!-- BASIC TABLE -->
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Registro de Medidas</h3>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Data</th>
                                                    <th>Idade</th>
                                                    <th>Peso(g)</th>
                                                    <th>Estatura(cm)</th>
                                                    <th>Perímetro Cefálico(cm)</th>
                                                    <th>IMC</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (var i = 0; i < Model.listaMedidas.Count; i++)
                                                {
                                                    <tr>
                                                        <td>@Html.DisplayFor(modelItem => Model.listaMedidas[i].data)</td>
                                                        <td>@Html.DisplayFor(modelItem => Model.listaMedidas[i].idade) meses</td>
                                                        <td>@Html.DisplayFor(modelItem => Model.listaMedidas[i].peso) g</td>
                                                        <td>@Html.DisplayFor(modelItem => Model.listaMedidas[i].estatura) cm</td>
                                                        <td>@Html.DisplayFor(modelItem => Model.listaMedidas[i].perimetroCefalico) cm</td>
                                                        <td>@Html.DisplayFor(modelItem => Model.listaMedidas[i].imc)</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- END BASIC TABLE -->
                            </div>
                        </div>

                        <div class="row">
                            <div id="containerPeso" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                        </div>
                        <div class="row">
                            <div id="containerEstatura" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                        </div>                        
                        <div class="row">
                            <div id="containerPerimetroEncefalico" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.highcharts-credits').hide();

            var mensagem = '@ViewBag.Mensagem';

            if (mensagem == 'sucesso') {
                sucessMessage();
            }
            else if (mensagem == 'erro') {
                errorMessage();
            }
        });
    </script>
    <script>
        var categoriaMesesArray = @ViewBag.Meses;
        var dataMedidasEstaturaArray = @ViewBag.Medidas;
        var pesosRegistradosAarray = @ViewBag.Pesos;
        var perimetroEncefalicoArray = @ViewBag.PerimetroEncefalico;


        Highcharts.chart('containerPeso', {
            chart: {
                type: 'line'
            },
            title: {
                text: 'Evolução do peso em meses'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: categoriaMesesArray
            },
            yAxis: {
                title: {
                    text: 'Pego (g)'
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: false
                }
            },
            series: [{
                name: 'Desenvolvimento Registrado',
                data: pesosRegistradosAarray
            }, {
                name: 'Desenvolvimento Esperado',
                data: [0, 4900, 5800, 6300, 7000, 7500, 8000, 7950, 8250, 9000, 9200, 9500, 9800]
            },]
        });


        Highcharts.chart('containerEstatura', {
            chart: {
                type: 'line'
            },
            title: {
                text: 'Evolução da estatura em meses'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: categoriaMesesArray
            },
            yAxis: {
                title: {
                    text: 'Estatura (cm)'
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: false
                }
            },
            series: [{
                name: 'Desenvolvimento Registrado',
                data: dataMedidasEstaturaArray
            }, {
                name: 'Desenvolvimento Esperado',
                data: [0, 54, 58, 61, 64, 65, 67, 69, 71, 73, 74, 75, 76]
            },]
        });


        
        Highcharts.chart('containerPerimetroEncefalico', {
            chart: {
                type: 'line'
            },
            title: {
                text: 'Evolução do perímetro cefálico em meses'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: categoriaMesesArray
            },
            yAxis: {
                title: {
                    text: 'Perímetro Cefálico (cm)'
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: false
                }
            },
            series: [{
                name: 'Desenvolvimento Registrado',
                data: perimetroEncefalicoArray
            }, {
                name: 'Desenvolvimento Esperado',
                data: [0, 34.5, 36.5, 38, 39.1, 40.2, 41, 41.5, 42.2, 42.6, 43, 44.4, 44.7]
            }]
        });





    </script>

}


