@model CDSC.Models.AlimentacaoModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Salvar", "Alimentacao", FormMethod.Post))
{

    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
                <!-- OVERVIEW -->
                <div class="panel panel-headline">
                    <div class="panel-heading">
                        <h3 class="panel-title">Alimentação</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <h3 class="panel-title">Data:</h3>
                                @Html.TextBoxFor(model => model.data, new { @class = "form-control datepicker-here", @required = "required", @maxlength = "10" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="panel-title">Alimentação/Problema/Orientação:</h3>
                                @Html.TextAreaFor(model => model.descricao, new { @validate = "required", @rows = "3", @required = "required", @class = "form-control", @maxlength = "200" })
                            </div>

                        </div>
                        <div class="clearfix"></div>
                        <br />


                        <div class="row pull-right">
                            <div class="col-md-12">
                                @Html.ActionLink("Voltar", "Voltar", "Alimentacao", new { @class = "btn bt-padrao" })
                                <button type="submit" class="btn btn-success">Adicionar</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="row">
                            <div class="col-md-12">
                                <!-- BASIC TABLE -->
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Lista de Alimentações</h3>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Data</th>
                                                    <th>Registro</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (var i = 0; i < Model.listaAlimenatcoes.Count; i++)
                                                {
                                                    <tr>
                                                        <td>@Html.DisplayFor(modelItem => Model.listaAlimenatcoes[i].data)</td>
                                                        <td>@Html.DisplayFor(modelItem => Model.listaAlimenatcoes[i].descricao)</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- END BASIC TABLE -->
                            </div>
                        </div>



                    </div>
                </div>

            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.datepicker-here').attr('data-language', 'pt-BR');

            var mensagem = '@ViewBag.Mensagem';

            if (mensagem == 'sucesso') {
                sucessMessage();
            }
            else if (mensagem == 'erro') {
                errorMessage();
            }
        });
    </script>

}


